doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='../stylesheets/bootstrap.css', rel='stylesheet', media='screen')
        script(src='http://code.jquery.com/jquery.js')
        script(src='../javascripts/bootstrap.js')
    body
    .container
        h1 Reset your password
        p.lead password reset for #{email}
        br
        form(role='form', action="/reset",method="post", style='max-width: 300px;')
            .form-group
                input.form-control(type='password', name="password", placeholder='Enter new password')
            .form-group
                input.form-control(type='password', name="confirm", placeholder='confirm new password')
            .form-group
                input.form-control(type='hidden', name="tokenID", value="#{tokenID}")
            button.btn.btn-default(type='submit' value="forgot password") Submit
