doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='../stylesheets/bootstrap.css', rel='stylesheet', media='screen')
        script(src='http://code.jquery.com/jquery.js')
        script(src='../javascripts/bootstrap.js')
    body
    .container
        h1 Reset your password
        p.lead Say something worthwhile here.
        br
        p #{message}
        br
        form(role='form', action="/forgot",method="post", style='max-width: 300px;')
            .form-group
                input.form-control(type='text', name="email", placeholder='Enter email')
            button.btn.btn-default(type='submit' value="forgot password") Submit

