<div id="mainContent">
  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand">Bookies</a>
      </div>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="search" class="form-control search-bookmarks" placeholder="Search" ng-model="searchText" autofocus="true">
        </div>
      </form>
      <div>
        <a class="navbar-text navbar-right">Login</a>
        <a class="navbar-text navbar-right">Register</a>
      </div>
    </div>
  </div>
  <div class="container" id="bookmarks">
    <bookmark-tree ng-model="bookmarkTree" on-edit="editBookmark(bookmark)"></bookmark-tree>
  </div>
</div>

