<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Bookmarks</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="./css/popup.css">
        
        <script src="./js/lib/jquery-2.0.3.js"></script>
        <script src="./js/popup/popup.js"></script>
    </head>
    <body>
      <div style="width:200px;height:400px">
        <a id="openAppPage" href="#">Open app</a>
      </div>
      <!-- <div class="tab-list-container" ng-controller="popupController">

        <div class="tab-list-header">
          <div class="tab-list-title">
        	 <inline-editor  value="context" ng-init="context='Click here to add title'"></inline-editor>
          </div>
          <div class="tab-list-actions">
            <div class="tab-list-action-add-all" ng-click="addAllTabs()"></div>
          </div>
        </div>
        <div class="tab-list-wrapper">
          <div class="tab-list-notice" ng-show="notice ">
              {{notice}} <a href="" ng-click="undoAction()">undo</a>
          </div>
          <div class="tab-list">
          	<open-tab ng-repeat="tab in openTabs"></open-tab>
          </div>
        </div>
      </div> -->
    </body>
</html>
