<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Bookmarks</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/bootstrap-theme.css">
        <link rel="stylesheet" href="./css/bootstrap-tagsinput.css">
        <link rel="stylesheet" href="./css/ng-tags-input.css">
        <link rel="stylesheet" href="./css/font-awesome.min.css">
        <link rel="stylesheet" href="./css/popup.css">
        <link rel="stylesheet" href="./css/inline-editor.css">
        <script src="./js/lib/require.min.js"></script>
        <script src="./js/startup.js"></script>
    </head>
    <body>
      <div class="tab-list-container" ng-controller="popupController">

        <div class="tab-list-header">
          <div class="tab-list-title">
        	 <inline-editor  value="context" ng-init="context='Click here to add title'"></inline-editor>
          </div>
          <div class="tab-list-actions">
            <div class="tab-list-action-add-all" ng-click="addAllTabs()"></div>
          </div>
        </div>
        <div class="tab-list-wrapper">
          <div class="tab-list-notice" ng-show="notice ">
              {{notice}} <a href="" ng-click="undoAction()">undo</a>
          </div>
          <div class="tab-list">
          	<open-tab ng-repeat="tab in openTabs"></open-tab>
          </div>
        </div>
      </div>
    </body>
</html>
