extends ../layout

block content
  div(ng-controller="pageController", ng-init="bookmarks= #{JSON.stringify(bookmarks)}")
    div(class="bookmark_list")
      ul
        li(ng-repeat="bookmark in bookmarks") 
          img(class="favicon" src="{{bookmark.faviconUrl}}")
          a(href="{{bookmark.url}}", target="_blank") {{bookmark.title}}