html { 
  overflow-y: scroll; /* Always show vertical scroll, so user will not see glitches on showing / hiding scrollbar when he is searching */
}

body {
  padding-top: 225px;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  body {
    padding-top: 100px;
  }
}

.badge-pointer { 
  cursor: pointer !important;
}

.breadcrumb {
  margin-bottom: 0px !important;
  padding: 0px !important;
  display: inline !important;
}

.badge-custom {
  background-color: #309134 !important;
}

  .badge-custom a {
    color: #000;
    opacity: .2;
    font-weight: bold;
    line-height: 1;
  }

  .badge-custom a:hover {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
  }

  .badge-custom input[type=text] {
    width: 100px;
    padding: 2px;
    height: auto;
  }

  .badge-custom span:focus {
    background-color: #fff;
    color: grey;
  }

.link-custom {
  color: #309134 !important;
  cursor: pointer;
}

.overflow-protection {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.search-bookmarks {
}

.margin-right-5px {
  margin-right: 5px;
}

.list-unstyled span.badge {
  margin: 5px 0;
}

@media (min-width: 768px) {
  .search-bookmarks {
    width:250pt;
  }
}

ul {
    list-style: none outside none;
    display: block;
}

.bookmark {
  /*height:24px;*/
  margin:2px;
  line-height: 20px;
  text-align: middle;
}

.folder_handle {
  float:left;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/node_closed.png");
  height: 20px;
  width: 20px;
}

.folder_handle:hover {
   background-image: url("chrome-extension://__MSG_@@extension_id__/images/edit.png");
}

.bookmark_handle {
  float:left;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/bookmark_item.png");
  height: 20px;
  width: 20px;
}

.bookmark_handle:hover {
   background-image: url("chrome-extension://__MSG_@@extension_id__/images/edit.png");
}

.bookmark input[type="checkbox"] {
  margin: 0;
}

.bookmark .inlineEditor span {
  cursor: pointer;
}

.bookmark .inlineEditor a {
  cursor: pointer;
}

.bookmark .inlineEditor input {
  display: none;
  height: 20px;
  line-height: 20px;
  border:none;
}

.bookmark .inlineEditor.active span {
  display: none;
}

.bookmark .inlineEditor.active a {
  display: none;
}

.bookmark .inlineEditor.active span {
  display: none;
}

.bookmark .inlineEditor.active input {
  display: inline-block;
}

.bookmark_content {
  margin-left: 20px;
}

.bookmark .bookmark-tags {
  margin-top: 2px;
  display: block;
  -webkit-transition: opacity 1s ease-out;
  opacity: 0; 
  height: 0;
  overflow: hidden;
}

.bookmark:hover .bookmark-tags {
  display:block;
  opacity: 1;
  height: auto;
  transition-delay: .2s !important; 
}

.bookmark-tag-input {
  border:none;
  background-color: #ddd;
}

.bookmark a.bookmark-title {
  height:24px;
  padding:4px;
}

.bookmark .bookmark-context {
  display:none;
  text-decoration:none;
}

.bookmark:hover .bookmark-context {
  display:inline;
}

.highlighted {
  background-color: #ff9;
}



input[type=checkbox].tree_handle:before 
{ 
  content:""; 
  display:inline-block; 
  width:16px; 
  height:16px; 
}

input[type=checkbox].tree_handle:checked:before { background:green; }

/* images */
input[type=checkbox].tree_handle:before { 
  display:inline-block;
  background: url('/images/node_closed.png') #fff;
}
input[type=checkbox].tree_handle:checked:before { 
  display:inline-block;
  background: url('/images/node_open.png') #fff;
}

/* AngularJS */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.nav, .pagination, .carousel a { cursor: pointer; }


/* Bootstrap */

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom
{
    margin-right: 0px;
}